.card {
    color: $dark-gray;
    margin-bottom: $l-size;
    h3 {
        margin-top: 1.2rem;
        text-decoration: none;

        margin-bottom: 0rem;
    }
    ul {
        margin: 0 $s-size;
        padding-left: $m-size;
    }
}

.card--hero {
    display: flex;
    justify-content: right;
    align-items: initial;
    margin: 0.8rem 0  0 0;
    @media (max-width: $desktop-breakpoint) {
        display: flex;
        flex-direction: column;
      }

    img {
        margin-left: $m-size;
        @media (max-width: $desktop-breakpoint) {
            display: none;
          }
    }

    h1 {
        margin-top: 0;
        line-height: 1
    }
}

.card--images {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 0;
    padding-left: 1.4rem;
    
    @media (max-width: $desktop-breakpoint) {
        display: none;
      }
}

.card--images__mobile {
    display: none;
    @media (max-width: $desktop-breakpoint) {
        display: flex;
        padding: 10px 0;
      }
}

.icon {
    margin-right: 1.4rem;
    margin-bottom: 1.4rem;
}

.card--blog {
    
    h3 {    
        color: $dark-gray;
        font-weight: 300;
        font-size: $font-size-large;
        border: none;
        font-weight: 600;
        text-decoration: underline;
        line-height: 1;
    }
    p {

    }

}

.createdat__text {
    font-size: $font-size-medium;
    margin: 0.8rem 0  0 0;
}

.showmore__link {
    color: $dark-gray;
    font-weight: 300;
    text-decoration: underline;
    line-height: 1;
    margin-left: 1.4rem;
    color: rgba(3, 102, 214, 1);
    text-decoration-color: rgba(3, 102, 214, 1);
    font-weight: 600;
    margin-top: 0;
}