.header {
    padding: $s-size 0;

}

.header__content {
    display: flex;
    align-items: center;
    padding: 0.4rem 0;
    margin: 0;
    @media (min-width: $desktop-breakpoint) {
        
    }
    justify-content: space-between;
}
.header__title {
    display: flex;

    color: white;
    align-items: center;
    text-decoration: none;
    img {
        margin: 0;
    }
}

.header__nav {
    text-decoration: none;
    p {
        color: rgb(121, 121, 121);
        font-size: 1.4rem;
        &:hover {
            color: black;
        }


        margin: 0;
    }
}

.post-header {
    
    font-weight: 900;
    letter-spacing: -1px;
    @media (min-width: $desktop-breakpoint) {
        font-size: 80px;
        line-height: 1.1;
        letter-spacing: -3px;

    }
}

.header--secondary {
    margin: 0 0.7rem

}