* {
  box-sizing: border-box;
  color: #000000;

}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, cursive;
  font-size: $m-size;
  line-height: 1.6;
  font-weight: 430;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
